.CardHolder{
  border: 1px solid black;
  height:250px;
  background-image: url(./derevo-minimalizm-fon-wood-background.jpeg);
  background-position: 30% 40%;
}
.Container{
  width:65%;
  display: flex;
  margin:25cpx auto;
  justify-content:space-between;
}